@media screen and (min-width: 601px) {
  body {
    font-size: 36px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 22px;
  }
}

.container {
    height: 75%;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #4C4CFF;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
